html
  head
    title= title
  body
    block content
    if pageStatus
      script(type='text/javascript', src='/javascripts/vendor.js')
      script(type='text/javascript', src='/javascripts/app.js')
